version: "3.8"

services:
  # Use `docker compose --profile backend-dev up --build --attach-dependencies` to start a database and work and the backend.

  # Use `docker compose --profile frontend-dev up --build --attach-dependencies` to start the services needed to work on the frontend. If you want to also run the inference, add a second `--profile inference` argument.

  # The profile ci is used by CI automations. (i.e E2E testing)

  # This DB is for the FastAPI Backend.
  db:
    image: postgres:15
    pull_policy: always
    container_name: mkdi-db
    restart: always
    profiles: ["frontend-dev", "backend-dev", "ci"]
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
      BACKUP_DIR: /backup
    volumes:
      - ./docker/mkdi-postgres/backup_pg.sh:/scripts/backup_pg.sh
      - ./backup:/backup

    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 2s
      timeout: 2s
      retries: 10

  # This fakes an SMTP email server used by website authentication.
  # User registration emails can be found by going to localhost:1080 and
  # opening the emails listed.
  maildev:
    image: maildev/maildev
    restart: always
    profiles: ["frontend-dev", "ci"]
    environment:
      - MAILDEV_WEB_PORT=1080
      - MAILDEV_SMTP_PORT=1025
    ports:
      - "1080:1080"
      - "1025:1025"

  adminer:
    image: adminer
    restart: always
    profiles: ["frontend-dev", "backend-dev"]
    ports:
      - 8089:8080
  #The mkdi backend service.
  backend-test:
    image: mkdi-backend
    build:
      context: .
      dockerfile: docker/Dockerfile.backend
    container_name: mkdi-backend-test
    environment:
      - POSTGRES_HOST=mkdi-db
      - ENV=developement
      - REDIS_HOST=redis
      - DEBUG_USE_SEED_DATA=True
      - DEBUG_ALLOW_SELF_LABELING=True
      - MAX_WORKERS=1
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
      - PYTHONPATH=/backend
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8080:8080"

  backend-dev:
    image: tiangolo/uvicorn-gunicorn-fastapi:python3.10
    working_dir: /backend
    container_name: mkdi-backend-dev
    volumes:
      - "./backend:/backend"
      - "./mkdi-shared:/mkdi-shared"
      - "./functional-tests:/functional-tests"
      - "./scripts/prestart.sh:/app/prestart.sh"
    command: /start-reload.sh
    environment:
      - POSTGRES_HOST=mkdi-db
      - ENV=developement
      - REDIS_HOST=redis
      - DEBUG_USE_SEED_DATA=True
      - DEBUG_ALLOW_SELF_LABELING=True
      - MAX_WORKERS=1
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
      - PYTHONPATH=/backend
    depends_on:
      db:
        condition: service_healthy
    profiles: ["frontend-dev", "backend-dev"]
    ports:
      - "8080:8080"
  # Redis - caching + rate limiting on BE
  redis:
    image: redis
    restart: always
    container_name: mkdi-redis
    profiles: ["frontend-dev", "backend-dev", "ci"]
    ports:
      - 6379:6379
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 2s
      timeout: 2s
      retries: 10
    command: redis-server /usr/local/etc/redis/redis.conf
    volumes:
      - ./redis.conf:/usr/local/etc/redis/redis.conf
  # This DB is for Web Authentication and data caching.
  webdb:
    image: postgres:15
    restart: always
    profiles: ["frontend-dev", "ci", "inference-dev"]
    container_name: mdki-web-db
    ports:
      - 5433:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mkdi_web
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 2s
      timeout: 2s
      retries: 10
  web:
    build:
      dockerfile: docker/Dockerfile.website
      context: .
    image: mkdi-web
    container_name: mkdi-web
    depends_on:
      webdb:
        condition: service_healthy
    ports:
      - "3000:3000"
    profiles: ["ci"]
  # The mkdi backend celery worker service.
  backend-worker:
    build:
      dockerfile: docker/Dockerfile.backend-worker
      context: .
    command: celery -A mkdi_backend.tasks.worker worker -l info
    image: mkdi-backend-worker
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
      - POSTGRES_HOST=db
      - REDIS_HOST=redis
      - MAX_WORKERS=1
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    profiles: ["frontend-dev", "ci"]
