aiohttp==3.8.3
alembic==1.13.1
asyncpg==0.28.0
fastapi==0.111.0
httpx==0.24.1
loguru
psycopg2-binary==2.9.5
pydantic
pydantic[email]==1.10.4
pytest==7.3.1
python-dotenv==0.21.0
python-keycloak
python-multipart
SQLAlchemy==2.0.16
sqlmodel
uvicorn==0.20.0

# asgiref==3.6.0
# Celery==5.2.0
# prometheus-fastapi-instrumentator==5.9.1
# cryptography==39.0.0
#python-jose[cryptography]==3.3.0
#redis
# tqdm>=4.64.1
# scipy==1.8.1
# numpy>=1.23.2
#fastapi-limiter==0.1.5
#fastapi-utils==0.2.1
